*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#0f172a;

padding:40px;

color:white;

}

.container{

width:100%;

max-width:700px;

}

.card{

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.15);

padding:40px;

border-radius:25px;

box-shadow:0 20px 60px rgba(0,0,0,.4);

}

h1{

text-align:center;

margin-bottom:10px;

}

p{

text-align:center;

opacity:.7;

margin-bottom:40px;

}

.upload-box{

border:2px dashed #d4af37;

border-radius:20px;

padding:35px;

margin-bottom:30px;

text-align:center;

transition:.3s;

}

.upload-box:hover{

background:rgba(255,255,255,.05);

}

.upload-icon{

font-size:55px;

margin-bottom:15px;

}

input{

display:none;

}

.btn{

display:inline-block;

margin-top:20px;

padding:12px 28px;

background:#d4af37;

color:black;

border-radius:30px;

cursor:pointer;

font-weight:600;

transition:.3s;

}

.btn:hover{

transform:translateY(-3px);

}

.upload-btn{

width:100%;

padding:15px;

border:none;

border-radius:30px;

background:white;

font-size:18px;

font-weight:600;

cursor:pointer;

margin-top:20px;

}

#photoList,#videoList{

margin-top:20px;

text-align:left;

font-size:14px;

}